.profile {
  > div {
    &.point {
      height: fit-content;
      .title {
        font-style: italic;
        width: 100%;
        text-transform: capitalize;
        font-size: 2em;
        border-bottom: 2px solid #ddd;
      }
      tr:nth-child(even) {
        background-color: #d6eeee;
      }
      td {
        border: 1px solid black;
        padding: 5px;
        text-align: center;
        font-family: "Source Sans Pro", sans-serif;

        border-radius: 10px;
        &.id {
          border-right: none;
        }
        &.created {
          border-left: none;
        }
      }
    }
  }
}
