.profile {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  > div {
    &.url {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100% !important;
      min-height: fit-content !important;
      position: relative;
      padding: 1em !important;

      height: fit-content !important;
      .btn {
        background: white;
        color: #0d6efd;
        border: none;
        margin: 0;
        opacity: 1;
        font-size: 1.2em;
        text-transform: uppercase;
        font-weight: bold;

        background-image: linear-gradient(
          -225deg,
          #231557 0%,
          #44107a 29%,
          #ff1361 67%,
          #fff800 100%
        );
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
        text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 2s linear infinite;
        display: inline-block;
        display: inline;
      }
      .icon {
        position: absolute;
        top: 5px;
        right: 10px;
        cursor: pointer;
        font-size: 1em;
        opacity: 0.5;

        &:hover {
          opacity: 1;
          font-size: 1.2em;
          text-transform: uppercase;
          font-weight: bold;

          background-image: linear-gradient(
            -225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%
          );
          background-size: auto auto;
          background-clip: border-box;
          background-size: 200% auto;
          color: #fff;
          background-clip: text;
          text-fill-color: transparent;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          animation: textclip 2s linear infinite;
          display: inline-block;
        }
      }
    }
  }
}
@media (max-width: 800px) {
  .profile {
    > div {
      &.url {
        #liveToast {
          width: 53vw;
        }
        .btn {
          margin: 0;
          font-size: 0.6em;
        }
      }
    }
  }
}
