.balance.container {
  width: 60vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 30px auto;
  /* box-shadow: 17px 21px 10px #ddd; */
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  padding: 20px 30px 30px;
  .input-group {
    width: 100%;
  }
  input.phone {
    margin-top: 0.5em;
    border-radius: 7px;
    border: 1px solid #ddd;
    padding: 0.5em 0.5em 0.5em;
    text-transform: capitalize;
  }
  div.fal {
    width: 100%;
    display: flex;
    align-items: center;
    label {
      display: inline;
      width: fit-content;
    }
    .col-sm-10 {
      display: inline;
      width: fit-content;
    }
  }
  svg {
    font-size: 8em;
  }
  .back {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #ddd;
  }
  img {
    width: 10em;
    height: 8em;
    position: relative;
  }

  .balance.btn-primary {
    position: relative;
    width: 100%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    > div {
      display: none;
    }
    &.active > div {
      display: block;
    }
  }
  .choice {
    width: 64%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px auto;
    flex-wrap: wrap;
  }

  .back {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #ddd;
  }
  img {
    width: 10em;
    height: 8em;
    position: relative;
  }

  .balance.btn-primary {
    position: relative;
    width: 100%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    > div {
      display: none;
    }
    &.active > div {
      display: block;
    }
  }
  .choice {
    width: 64%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin: 2em auto;
    flex-wrap: wrap;
    .form-check {
      margin: 2em auto;
    }
  }
}
.icon-suc {
  color: green;
}
.icon-suc,
.icon-fail {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 10em;
  transform: translate(-50%, -50%);
}
.icon-fail {
  color: red;
}
@media (max-width: 650px) {
  .balance.container {
    width: 90vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
