@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Lao:wght@400;600&display=swap");
* {
  font-family: "Noto Serif Lao", serif;
}

nav {
  overflow: hidden;
  position: absolute !important;
  z-index: 1246733463467;
  top: 0;
  width: 100%;
  margin: 10px auto;
  padding: 10px 15px 5px 20px;
  transition-duration: 0.3s;
}
nav.bg-light {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.12);
}
nav.bg-light .container-fluid .navbar-toggler {
  border: none;
  transform: rotateZ(180deg);
  font-size: 29px;
  box-shadow: none;
  color: white;
  margin-left: 5px;
}
nav.bg-light .container-fluid .navbar-brand {
  color: #333 !important;
  font-size: 1em !important;
}
nav.bg-light .container-fluid .cc ul {
  flex-direction: row;
}
nav.bg-light .container-fluid .cc ul li a {
  color: #333;
  opacity: 0.5;
  font-size: 1em;
}
nav.bg-light .container-fluid .cc ul li a:hover {
  opacity: 1;
  font-size: 1.3em;
}
nav.bg-light .container-fluid .cc ul li a.active {
  font-size: 1.3em;
  background-color: #333 !important;
  color: white !important;
}
nav .container-fluid .navbar-brand {
  font-family: "Climate Crisis", cursive;
  color: #333;
}
nav .container-fluid .navbar-toggler {
  border: none;
  transform: rotateZ(180deg);
  font-size: 29px;
  box-shadow: none;
}
nav .container-fluid .cc {
  transition: none;
}
nav .container-fluid .cc.show ul {
  border-radius: 20px;
  flex-direction: row;
}
nav .container-fluid .cc.show ul li {
  display: flex;
  justify-content: center;
  margin: 15px;
}
nav .container-fluid .cc.show ul li a {
  font-size: 18px;
}
nav .container-fluid .cc.show ul li a.active {
  background-color: #fff;
  font-size: 25px;
  color: #333;
}
nav .container-fluid .cc ul {
  flex-direction: row;
}
nav .container-fluid .cc ul li {
  margin: 0 15px;
}
nav .container-fluid .cc ul li a {
  font-size: 18px;
  align-items: center;
  display: flex;
}
nav .container-fluid .cc ul li a.active {
  font-size: 25px;
  background-color: #fff;
  color: #333;
  transition-duration: 0.4s;
}
nav .container-fluid .cc ul li a span {
  background-color: #fff;
  display: none;
  margin: 0 10px;
  font-size: 15px;
  height: -moz-fit-content;
  height: fit-content;
  transition-duration: 0.3s;
}
nav .container-fluid .cc ul li a:hover .login, nav .container-fluid .cc ul li a:hover .logout {
  transition-duration: 0.3s;
}
nav .container-fluid .cc ul li a svg {
  font-size: 30px;
}

@media (max-width: 990px) {
  nav {
    box-shadow: none;
    width: 100%;
    margin: 0 !important;
    transform: translateX(0);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background-color: #fff;
  }
  nav.bg-light {
    margin: 25px auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  nav.bg-light .navbar-toggler {
    color: #333 !important;
  }
}
@media (max-width: 700px) {
  nav .navbar-brand {
    text-align: center;
    width: 100%;
  }
  nav .cc {
    width: 100%;
  }
  nav .cc ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    padding: 0;
  }
  nav .cc ul li {
    margin: 0;
  }
  nav .cc ul li a {
    font-size: 0.8em !important;
  }
}/*# sourceMappingURL=navbar.css.map */