// @import url("https://fonts.googleapis.com/css2?family=Almarai:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
body {
  background-color: #f3f3f3 !important;
}
div.img-background {
  width: 100%;
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  height: 75vh;
  background-image: url("../../image/wallpaperflare.com_wallpaper (6).jpg"); /* replace with your image path */
  background-size: cover;
  background-repeat: round;
}
div.container.home-page {
  // background-color: #f3f3f3;
  width: 100vw;
  position: relative;
  top: 70vh;
  overflow-x: hidden;
  div.container-usd {
    position: relative;
    transition-duration: 1s;
    padding: 2.5em 3em 2em;
    border-radius: 15px;
    margin: 1px auto;
    width: fit-content;
    transform: translateX(25%);
    height: fit-content;
    > div {
      background-color: white;
      padding: 10px 15px 5px;
      border-radius: 23px;
      align-items: center;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      align-items: center;
      font-size: 1em;
      margin: 2em 0;
      img {
        width: 10%;
        height: 3em;
        border-radius: 50%;
        aspect-ratio: 3/2;
        object-fit: contain;
      }
      span.name-usd {
        margin: 0 1em;
        font-size: 2.4em;
        color: #3f3f3f;
      }
      span.number-used {
        font-size: 3em;
      }
    }
  }
  .carousel {
    position: relative;
    margin: 1em 0;
    h3 {
      text-transform: uppercase;
      font-size: 3em;
      font-weight: bold;
      margin: 0 auto 1.1em;
      text-align: center;
      padding: 10px 25px;
      width: 100%;

      background-image: linear-gradient(
        -225deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
      );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 2s linear infinite;
      display: inline-block;
    }
    .carousel-inner {
      border-radius: 15px;
      .carousel-item {
        transition-duration: 0.3s;
        &.active {
          transition-duration: 0.3s;
          display: flex !important;

          justify-content: center !important;
          img {
            border-radius: 32px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
div.footer {
  height: 12em;
  display: flex;
  overflow: hidden;
  position: relative;
  top: 75vh;
  z-index: 345678765432345678765434;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #6c8ea4;
  div.about {
    background-color: #6c8ea4;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    z-index: 456789098765;

    .animate__animated {
      text-align: center;
      height: 0;
      font-size: 2.4em;
      width: 100%;
      font-weight: bold;
      color: white;
      margin: 0.4em;
      margin-bottom: 1.6em;
    }

    .typing {
      font-family: "Almarai", sans-serif;
      font-size: 1em;
      font-weight: bold;
      position: relative;
      z-index: 235356;
      display: block;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      width: 90%;
      background-color: white;
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 2s linear infinite;
      .team {
        background-image: linear-gradient(
          -225deg,
          #231557 0%,
          #44107a 29%,
          #ff1361 67%,
          #fff800 100%
        );
      }
    }
  }
  div.contact {
    width: 100%;
    position: fixed;
    right: 0;

    z-index: 567828388;
    bottom: 0;
    width: fit-content;
    img {
      width: 5em;
      border-radius: 26px;
    }
    .star {
      font-size: 2.4em;
      bottom: 0.5em;
      right: 0.5em;
      color: #0cc1fe;
      position: absolute;
      transition-duration: 0.3s;
      cursor: pointer;
      &:hover {
        transition-duration: 0.3s;
        transform: rotateZ(-60deg);
        color: #ff1361;
      }
      &.active {
        transition-duration: 0.3s;
        transform: rotateZ(-60deg);
        color: #ff1361;
        & ~ div {
          transition-duration: 0.3s;
          transform: translateY(-20px);
        }
      }
    }
    .icon {
      transition-duration: 0.3s;
      transform: translateY(1234565px);
      position: relative;
      right: 1.3em;
      bottom: 4.3em;
      a {
        transition-duration: 0.3s;
        display: block;
        margin: 10px 0;
        &:hover {
          & > span {
            transition-duration: 0.3s;
            display: inline-block;
          }
        }
        .co {
          transition-duration: 0.3s;
          display: none;
          position: absolute;
          background-color: #ff1361;
          color: #fff;

          padding: 0.3em 1em;
          border-radius: 20px;
          border-bottom-right-radius: 2px;
          right: 3em;
        }
        svg {
          transition-duration: 0.3s;

          font-size: 3em;
          // position: none;
          color: #ff1361;

          right: 0;
          bottom: 0;
        }
      }
    }
  }
}

@media (max-width: 990px) {
  div.img-background {
    background-image: url("../../image/photo_2023-05-14_05-05-59.jpg"); /* replace with your image path */
    width: 100%;
  }
  div.container-usd {
    transform: translateX(0%) !important;
    display: flex;
    transition-duration: 1s;
    flex-wrap: wrap;

    width: 100% !important;
    justify-content: space-between;
    > div {
      margin: 10px !important;
      justify-content: center !important;
      width: 40%;
      border-radius: 15px;
      background-color: white;
      padding: 10px !important;
      img {
        width: 40px;
      }
      span.name-usd {
        margin: 0 10px;
        font-size: 1.5em !important;
      }
      span.number-used {
        font-size: 1.5em !important;
      }
    }
  }
  .carousel {
  }

  div.footer {
    top: 75vh !important;
    .typing {
      font-size: 0.7em !important;
      line-height: 1.5em;
      width: 90% !important;
    }
  }
}
@media (max-width: 800px) {
  img.img-background {
    width: 100% !important;
  }
  div.container.home-page {
    width: 90vw;
    div.container-usd {
      transform: translateX(0%) !important;
      display: flex;
      transition-duration: 1s;
      flex-wrap: wrap;

      width: 100% !important;

      justify-content: space-between;
      > div {
        padding: 10px !important;
        img {
          width: 38% !important;
        }
        span.name-usd {
          margin: 0 5px;
          font-size: 1em !important;
        }
        span.number-used {
          font-size: 1em !important;
        }
      }
    }
    .carousel-inner {
      .carousel-item {
        &.active {
          img {
            width: 100% !important;
          }
        }
      }
    }
  }
  div.footer {
    height: 16em;
    .animate__animated {
      font-size: 1.5em !important;
      margin-bottom: 1.5em !important;
    }
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@keyframes kenburns-top {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 16%;
  }
  100% {
    transform: scale(1.25) translateY(-15px);
    transform-origin: top;
  }
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;

  color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #626667;

  border-radius: 10px;
}

@media (max-width: 355px) {
  div.container.home-page {
    div.container-usd {
      width: 100% !important;

      > div {
        padding: 10px !important;
        width: 100% !important;
        img {
          width: 38% !important;
        }
        span.name-usd {
          margin: 0 5px;
          font-size: 1em !important;
        }
        span.number-used {
          font-size: 1em !important;
        }
      }
    }
    .carousel-inner {
      .carousel-item {
        &.active {
          img {
            width: 100% !important;
          }
        }
      }
    }
  }
  div.footer {
    height: 22em;
  }
}
